html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.hidden {
  display: none !important;
}

.none {
  visibility: hidden !important;
}

.oneHundo{
  height: 100% !important;
}

img {
  max-width: 100%;
}

h1{
  font-size: $h1-headline-fluid;
}

h2{
  font-size: $h2-headline-fluid;
}

h3{
  font-size: $h3-headline-fluid;
}

h4{
  font-size: $h4-headline-fluid;
}

h5{
  font-size: $h5-headline-fluid;
}
.input {
  display: block;
  width: 300px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin: 1rem 0rem;
  font-size: 16px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
  line-height: 1.5;
  border-radius: .3rem;
  margin: 1rem 0rem;
}
