$currPage: landing;
$pageBreak: 900px;
$paddingBreak: 767px;

.#{$currPage} {
  padding: 3rem 5rem;
  @media (max-width: $paddingBreak) {
    padding: 1rem;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dee2e6;
    @media (max-width: $pageBreak) {
      flex-direction: column;
    }
  }
  .mainContents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    @media (max-width: $pageBreak) {
      flex-direction: column;
    }

  }
  .addGradeContents {
    margin-left: 1rem;
    @media (max-width: $paddingBreak) {
      margin-left: 0rem;
    }
  }
  .table {
    margin-right: 1rem;
    @media (max-width: $paddingBreak) {
      margin-right: 0rem;
    }
  }
  h3 {
    padding: .5rem 0rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  th {
    border-top: none;
  }
  .buttonContainer {
    .cancelButton {
      margin-left: 1rem;
      background: none;
      color: #495057;
    }
  }
  .tableButton {
    background: none;
    color: #495057;
    margin: 0rem;
    padding: .25rem .75rem;
    margin-top: 8px;
  }
  .inputContents {
    display: flex;
  }
  .tdText {
    padding: calc(54px - 29px);
    @media (max-width: $paddingBreak) {
      padding: 12px;
      padding-left: 50%;
    }
  }
  .input {
    margin: 0rem;
    margin-bottom: 1rem;
    @media (max-width: $paddingBreak) {
      width: 100%;
    }
  }
  .fa-lg {
    padding: 1rem;
    background: rgba(0,0,0,.05);
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-right: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }
  .fa-user {
    height: 46px;
    width: 51px;
  }
  .fa-list-alt {
    height: 46px;
    width: 51px;
  }
  .fa-graduation-cap {
    height: 46px;
    width: 51px;
  }
  @media
    only screen and (max-width: $paddingBreak),
    (min-device-width: $paddingBreak) and (max-device-width: 1024px)  {

      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr {
        display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr { border: 1px solid #ccc; }

      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding: 12px;
        font-weight: bold;
        white-space: nowrap;
      }

      /*
      Label the data
      */
      td:nth-of-type(1):before { content: "Name"; }
      td:nth-of-type(2):before { content: "Course"; }
      td:nth-of-type(3):before { content: "Grade"; }
      td:nth-of-type(4):before { content: "Operation"; }
    }
}
